<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="IDComplete.Properties.Settings.STATTRACKERConnectionString" connectionString="Data Source=agliscon17,1444;Initial Catalog=STATTRACKER;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
